<!--
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area 'dnd_area'
    label='Home template',
    class='home-template'
  %}

  {% include_dnd_partial path='../sections/home-page-banner.html' context={} %}
  {% include_dnd_partial path='../sections/promo-area.html' context={} %}
  {% include_dnd_partial path='../sections/partners.html' context={} %}
  {% include_dnd_partial path='../sections/hero-image.html' context={} %}
  {% include_dnd_partial path='../sections/contact-section.html' context={} %}
  {% include_dnd_partial path='../sections/news-section.html' context={} %}
  {% include_dnd_partial path='../sections/video-promo-area.html' context={} %}
  {% include_dnd_partial path='../sections/numbers-area.html' context={} %}

  {% end_dnd_area %}

{% endblock body %}
