/* global custom CSS */

.hero-image-green-gradient-bg .heroimage-module__caption_wrp {
  background: linear-gradient(90deg, rgba(4,47,25,1) 0%, rgba(255,255,255,0) 100%);
}

.hero-image-green-gradient-bg .heroimage-module__caption--item {
  max-width: 700px;
}

.hero-image-promo .heroimage-module__caption_wrp {
  background: linear-gradient(90deg, rgba(4,47,25,1) 0%, rgba(255,255,255,0) 100%);
}

.hero-image-promo .heroimage-module__link.heroimage-module__caption--item.heroimage-module__caption--item-inline {
  position: relative;
}

.hero-image-promo .heroimage-module__link.heroimage-module__caption--item.heroimage-module__caption--item-inline:after {
  content: '';
  margin-left: 10px;
  margin-right: 8px;
  height: 18px;
  width: 2px;
  background: white;
  display: inline-block;
  position: relative;
  bottom: 0;
  top: 6px;
  line-height: 1px;
}

.hs-form__actions__submit {
  padding: 16px 30px;
  margin-top: 20px;
}

.contact-section .row-fluid .dnd-column {
  border-radius: 40px;
  background: linear-gradient(90deg, rgba(9,102,51,1) 0%, rgba(58,170,53,1) 100%);
  z-index: 2;
  position: relative;
}

.news-section img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.news-section .blog-recent-module__article-heading {
  min-height: 115px;
}

.news-section .blog-recent-module__article-tags .g-module-macros-link__text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.main-nav__list-item-link {
  color: #000;
  text-transform: uppercase;
}

.main-nav__list-item-link .lvl2 {
  text-transform: none;
}

.main-nav__list--sublevel .main-nav__list-item-link {
  padding-left: 30px;
}

.header-search__form-btn-icon {
  height: 2.8ch;
  width: 2.8ch;
  color: black;
}

.main-nav__list-item-link--dropdown-toggle:after {
  border-right: 1px solid #3AAA35 !important;
  border-bottom: 1px solid #3AAA35 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  width: 6px;
  height: 6px;
  transform: rotate(-315deg);
  top: -1px;
  display: block;
  position: relative;
  left: 3px;
}

.siteheader-module__button .btn-link {
  font-weight: 600 !important;
}

.main-nav__list--dropdown {
  min-width: 218px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  padding-left: 15px !important;
  text-transform: none;
}


.news-section .blog-recent-module__article-button .btn-style {
  font-weight: 600 !important;
  letter-spacing: 1.4px;
}


.news-section .blog-recent-module__article-button .btn-link:hover {
  background: transparent;
  text-decoration: underline !important;
}

.blog-post-template {
  max-width: 792px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .blog-post-template,
  .blog-related-posts_wrp {
    padding: 0 20px;
  }
}

.blog-post {
  padding-top: 90px;
  padding-bottom: 45px;
}

.hs-blog-post .main-content {
  background: #F0F0F0;
}

.blog-related-module__article-image img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.contact-section-blog-post {
  border-radius: 40px;
  background: linear-gradient(90deg, rgba(9,102,51,1) 0%, rgba(58,170,53,1) 100%);
  z-index: 2;
  position: relative;
  padding: 71px 81px 60px;
  margin-top: 76px;
}

.blog-post-section {
  max-width: 1200px;
}

.blog-post__meta-info-date {
  text-transform: uppercase;
  color: #3aaa35;
  padding-bottom: 35px;
  font-weight: 600 !important;
  display: block;
  font-size: 18px;
}

.blog-post__tag-link {
  font-weight: 600 !important;
  font-size: 18px;
  text-transform: uppercase;
  color: #3aaa35;
}

.video-promo-section .oembed_custom-thumbnail_icon {
  margin: 0 auto;
  background: #3AAA35;
  height: 140px;
  width: 140px !important;
  border-radius: 50%;
}

.video-promo-section .oembed_custom-thumbnail_icon svg {
  padding: 40px;
  padding-left: 47px;
  height: 140px;
  width: 140px;
}

.subpage-template .heroimage-module__richtext.heroimage-module__caption--item {
  max-width: 682px;
}


@media (min-width: 992px) {
  .promo-area-image-link .span3.widget-span.widget-type-cell {
    border-right: 1px solid #3AAA35;
  }

  .promo-area-image-link .span4.widget-span.widget-type-cell:nth-of-type(2) {
    border-right: 1px solid #3AAA35;

  }

  .promo-area-image-link .span4.widget-span.widget-type-cell,
  .promo-area-image-link .span5.widget-span.widget-type-cell{
    display: flex;
    justify-content: center;
  }
}


.form-random-forest-external input {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  display: block;
  padding: .375rem .5rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}

.form-random-forest-external ._field-wrapper {
  margin-bottom: 20px;
}

.form-random-forest-external button {
  --border-radius: 27px;
  --color: #fff;
  --bg: #3aaa35;
  border: 1px solid #3aaa35;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
